body {
    background-color: #e6e6ff;
}

hr {
    border-style: dotted none none none;
    
    width: 5%;
    
    border-color: gray;
    border-width: 10px;
}

h1 {
    color: #660066;
}

h3 {
    color: #cc00ff;
}

